extends ../layouts/authentication.pug

block content
    .container
        .row.justify-content-center
            .col-lg-5
                .card.shadow-lg.border-0.rounded-lg.mt-5
                    .card-header
                        h3.text-center.font-weight-light.my-4 Acceso
                    .card-body
                        form.needs-validation(action="/admin/users/login", method="POST" novalidate)
                            .form-group
                                label.small.mb-1(for='inputEmailAddress') Email
                                input#inputEmailAddress.form-control.py-4(
                                    autocomplete='email', 
                                    type='email', 
                                    name='email', 
                                    placeholder='Tu email')
                            .form-group
                                label.small.mb-1(for='inputPassword') Contraseña
                                input#inputPassword.form-control.py-4(
                                    autocomplete='current-password', 
                                    type='password', 
                                    name='password', 
                                    placeholder='Tu contraseña')
                            if error
                                p
                                    small.text-danger= error
                            button.btn.btn-primary.btn-block(type="submit", value="Acceder") Acceder

